@{
    ViewData["Title"] = "Control Panel";
}


<main class="container mt-4">
    <h1>Manage</h1>
    <tr>
        <a asp-area="" asp-controller="Client" asp-action="CorporateClients" class="btn btn-primary"> Corporate Clients</a>
        <a asp-area="" asp-controller="Client" asp-action="IndividualClients" class="btn btn-primary"> Individual Clients</a>
        <a asp-area="" asp-controller="Software" asp-action="Software" class="btn btn-primary"> Software</a>
        <a asp-area="" asp-controller="Contract" asp-action="Contracts" class="btn btn-primary"> Contracts</a>
        <a asp-area="" asp-controller="Subscriptions" asp-action="Subscriptions" class="btn btn-primary"> Subscriptions</a>
    </tr>
    <h1>Calculate</h1>
    <a asp-area="" asp-controller="Revenue" asp-action="RealRevenue" class="btn btn-primary"> Real Revenue</a>
    <a asp-area="" asp-controller="Revenue" asp-action="ProjectedRevenue" class="btn btn-primary"> Projected Revenue</a>


</main>