@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">Privacy Policy</h1>
    <blockquote class="blockquote">
        <p class="mb-0"> You will have no privacy and you will be happy.</p>
    </blockquote>
</div>