@model abcAPI.Models.ViewModels.SoftwareViewModel
@using abcAPI.Models.TableModels
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@{
ViewData["Title"] = "Software";
var isAdmin = UserManager.GetRolesAsync(UserManager.GetUserAsync(User).Result).Result.Contains("Admin");
}

<main class="container mt-4">
    <h1>Software Management</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Current Version</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var software in Model.Softwares)
        {
        <tr>
            <td>@software.Name</td>
            <td>@software.Description</td>
            <td>@software.CurrentVersion</td>
            <td>@software.Category</td>
        </tr>
        }

        <tr>
            <form asp-controller="Software" asp-action="AddSoftware" method="post">
                <td>
                    <input type="text" name="Name" class="form-control" placeholder=" Name" required/>
                </td>
                <td>
                    <input type="text" name="Description" class="form-control" placeholder="Description" required/>
                </td>
                <td>
                    <input type="text" name="CurrentVersion" class="form-control" placeholder="CurrentVersion" required/>
                </td>
                <td>
                    <input type="text" name="Category" class="form-control" placeholder="Category" required/>
                </td>
                <td>
                    <button type="submit" class="btn btn-success">Add</button>
                </td>
            </form>
        </tr>

        </tbody>
    </table>
</main>
